.oneChildContent{
    right:5vw;
    position: relative;
}
.peachImageContainer{
    z-index:1;
    position: relative;
    /* right:15vw; */
}
.peachImageContainer img{
    max-width: 20vw;
}
.contentContainer p{
    font-size: 15pt;
    letter-spacing: 1.5px;
}
.styleTitle{
    margin:0;
}
.styleTitleContainer{
    transform-origin: center center;
    transform: rotate(-90deg);
    max-width: fit-content;
/*
    max-height: 50px;
    max-width: 20px;
*/
    font-size:4em;
    max-width: 200px;
    margin-left:45px;
/*    margin-right: 50px;*/
}