#home{
    height: 100vh;
    position: relative;
    background: #111;
}
#home #playerWrap{
    width: 100%;
    height: 100%;
    background: #111;
    position: absolute;
    top: 0;
    left: 0;
}
#home #playerWrap .skip{
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}
#home #playerWrap > div{
    width: 70%;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
}
#home #logo{
    position: absolute;
    top: 40px;
    left: 40px;
}
#home h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% + 20vw));
    color: #fff;
}
#home ul {
    list-style: none;
    display: flex;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(calc(-50% - 6.5vw),-50%);
    padding: 0;
    margin: 0;
}
#home a {
    position: relative;
    height: 26vw;
    width: 13vw;
    display: block;
    transition: 0.6s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
#home a:hover {
    transform: translateY(-30%);
}
#home ul img{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
}
@media (max-width: 767px) {
    #home h1{
        font-size: 1.5rem;
        transform: translate(-50%, calc(-50% + 30vw));
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    #home h1{
        top: 75%;
    }
    #home ul {
        display: block;
        left: 45%;
        top: 50%;
    }
    #home ul li{
      margin-bottom: 30%;
    }
    #home ul img{
        width: 300%;
        height: 150%;
    }
}