.currentStyle{
    color: #fff;
}
.linksContainer{
    /* display: flex; */
}
.linksTitleContainer{
    /* position: absolute;
    transform-origin: center center;
    transform : rotate(-90deg);
    font-size: 100px;
    max-width: 120px; */
    display: flex;
    align-items: center;
    position: absolute;
    transform-origin: center bottom;
    transform:rotate(-90deg);
}
.linksTitleWhiteLine{
    background-color:red;
    width:10vw;
    height:10px;
    margin-left:20px;
}
.linksTitle{
    font-size:100px;
    color:white;
}
.linksSubDetailsContainer{
    max-width: 75%;
    margin:0 auto;
    position: relative;
    left:5vw;
    top:5vh;
}
.linksSubDetailsList ul{
    list-style: none;
    padding: 0;
    margin-left: 15px;
}
.linksSubDetailIntro p {
    font-size:20px;
    color:white;
}
.linksSubDetailsList{
    display: flex;
    justify-content: space-evenly;
}
.linksSubDetailsList li a{
    color: white;
    text-decoration: none;
    font-size:40px;
    line-break: strict;
}
.linksViewMore{
    display: flex;
    align-items: center;
}
.linksViewMore p{
    color:red;
    font-size:15px;
    font-weight: 500;
}
.linksredLine{
    background-color:red;
    width:2vw;
    height:5px;
    margin-right: 5px;
}