.pochetteVinyleContainer{
    display: flex;
    justify-content: space-evenly;
}
.pochetteVinyle{
    list-style: none;
    background-image:url('../../../assets/img/vinyle-pochette.png');
    background-size:180px 180px;
    width:180px;
    height:180px;
}
.pochetteVinyle li{
    padding-top:40%;
    padding-left:25%;
}
.pochetteVinyle li a{
    color:black;
    text-decoration: none;
}
/*header*/
#header{
    width: 100%;
    height: 8vh;
    background: #040404;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
#header img{
    width: auto;
    height: 15px;
}
#header a.headerLink{
    position: relative;
    color: #fff;
    padding-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
}
#header a.headerLink:before{
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 3px;
    display: block;
    content: '';
    /*background: #a80000;*/
}
#header a.headerLink:after{
    position: absolute;
    top: calc(50% + 10px);
    right: 0;
    width: 30px;
    height: 2px;
    display: block;
    content: '';
    /*background: #a80000;*/
}
/* end header*/
/*anecdotes*/
#anecdote{
    width: 910px;
    height: 80vh;
    background: #040404;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#anecdote .text{
    color: white;
    width: 30%;
    z-index: 3;
}
#anecdote .text > div{
    width: 130%;
}
#anecdote .text h2{
    margin-top: 0;
    font-size: 34px;
    text-transform: uppercase;
}
#anecdote .text p{
    font-size: 14px;
}
#anecdote .text button {
    padding: 28px;
    width: 20px;
    height: 20px;
    /*background: #a80000;*/
    border-radius: 50%;
    border: none;
    position: relative;
    float: right;
}
#anecdote .text i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#anecdote .video{
    border-radius: 50%;
    overflow: hidden;
    width: 350px;
    height: 350px;
    position: relative;
    z-index: 2;
}
#anecdote .video > div{
    position: absolute;
    width: 198%;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#anecdote .nav{
    z-index: 1;
    width: 25%;
    position: relative;
    text-align: right;
    padding: 2%;
    text-transform: uppercase;
}
#anecdote .nav:before{
    position: absolute;
    content: '';
    display: block;
    padding: 180px;
    border: 1px solid #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#anecdote .nav h3{
    color: white;
}
#anecdote .nav li{
    list-style: none;
    margin-right: 25px;
    position: relative;
}
#anecdote .nav a{
    /*color: #a80000;*/
    text-decoration: none;
}
#anecdote .nav li:before{
    position: absolute;
    display: block;
    content: '';
    top: 10px;
    right: -25px;
    width: 20px;
    height: 3px;
    /*background: #a80000;*/
}
#wrap{
    background: #040404;
    height: 92vh;
}
#wrap > div > section{
    min-height: 60vh;
}
#wrap > .flex{
    display: flex;
    justify-content: space-between;
}
#wrap h1 {
    color: #fff;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg) translateY(-50px);
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}
#wrap h1 span{
    position: relative;
}
#wrap h1 span:before {
    position: absolute;
    background: white;
    content: '';
    width: 3px;
    height: 100px;
    bottom: -110px;
    left: 25px;
}

/*navDetails*/
.navDetails{
    margin: 0 auto;
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    position: fixed;
    bottom: 50px;
    left: 47%;
}
.navDetails a{
    display: block;
    width: 20px;
    height: 40px;
    position: relative;
}
.navDetails a:before{
    display: block;
    width: 3px;
    background: #fff;
    height: 15px;
    position: absolute;
    left: calc(50% - 1.5px);
    top: calc(50% - 7.5px);
    content: '';
}
.navDetails a.active:before{
    /*background: #a80000;*/
    width: 4px;
    height: 20px;
}
/*ArtistComponent*/
#artist{
    margin-top: 50px;
    background: #040404;
    width: 80%;
}
#artist > div{
    height: 75vh;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 5vw;
    overflow: hidden;
}
#artist > div > div{
    position: relative;
}
#artist > div > div:nth-child(2n){
    align-self: flex-start;
}
#artist > div > div:nth-child(2n+1){
    align-self: flex-end;
}
#artist > div> div:nth-child(2):before{
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
    height: 5px;
    width: 2000px;
    position: absolute;
    top: calc(50% - 2.5px);
    left: -90px;
    content: '';
}
#artist > div> div:nth-child(1):before{
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
    height: 5px;
    width: 2000px;
    position: absolute;
    top: calc(50% - 2.5px);
    left: -90px;
    content: '';
}
#artist a {
    width: 200px;
    height: 200px;
    position: relative;
    display: block;
    margin: 50px 0;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

#artist a:hover{
    transform: scale(.9);
}
#artist img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 125%;
    animation-duration: 0.9s ;
    animation-name: rotate;
    transition:  cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
/*links*/
#links {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80vh;
    animation-duration: 0.9s;
    animation-name: links;
}
#links > div{
    width: 30%;
}
#links h2{
    font-size: 34px;
}
#links p{
    font-size: 14px;
}
#links a{
    /*color: #a80000;*/
    text-decoration: none;
    position: relative;
    padding-left: 35px;
}
#links a:before{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    /*background: #a80000;*/
    left: 0;
    top: 10px;
    position: absolute;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    #links {
        display: block;
        padding-top: 10%;
    }
    #links > div{
        width: 100%;
    }
    #links h2{
        font-size: 30px;
    }
    #wrap h1 span:before {
        width: 3px;
        height: 35px;
      bottom: -50px;
        left: 25px;
    }
    #wrap h1 {
       font-size: 35px;
       margin: 20px;
    }
    /*ArtistComponent*/
    #artist > div{
        
    }
    #artist > div {
        overflow: inherit;
        display: block;
    }
    #artist img {
        width: 100%;
    }
    #artist a {
        width: 120px;
        height: 120px;
        margin: 0;
    }

    #artist > div> div:nth-child(1):before{
        width: 0;
    }
    #artist > div> div:nth-child(2):before{
        
        width: 0;
    } 
    #artist > div> div:nth-child(2){
        margin-left: 110px;
    }
    #artist > div> div:nth-child(4){
        margin-left: 110px;
    }                                  
}

@keyframes rotate {
    0% {  transform: translate(-50%, -50%) rotate(0deg); left: 550%;}
    100% {  transform: translate(-50%, -50%) rotate(360deg);left: 50%;}
  }

  @keyframes links {
    0% { padding-top: 60%;}
    100% { padding-top: 0%;}
  }

 


