*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*temporaire*/
#root{
  /*background-color:black;*/
}


/* structure css de base*/
.currentStyle{
  position: relative;
  top: 15vw;
}
.vinyleStyleContainer{
  display: flex;
  text-align: center;
  flex-basis: 50%;
}
.vinyleStyleContent{
  display: flex;
  position: relative;
}
.contentContainer{
  flex-basis: 50%;
  margin:0 auto;
  margin-right:10vw;
}
/*Wizzard*/
.wizzardNavContainer{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top:20vw;
}
.wizzardElement{
  display: flex;
}
.wizzard{
  background: red;
  width: 10px;
  height: 25px;
}
.styleContainer{
  display: flex;
  align-items: center;
}


